@page
@model IndexModel
@{
    ViewData["Title"] = "Login page";
}
<style>
    #footer{
        display:none;
    }
    .container{
        max-width: 540px;
        padding-top:5%;
    }
        
</style>
<div class="container">
    <div class="card card-login mx-auto mt-5" style="background-color: transparent;">

        <div class="card-header bg-dark text-white text-lg-center " style="font-family:'Adobe Garamond Pro';padding-bottom:2px;padding-top:2px;">
            <a style="font-size:3.5rem;padding-bottom:8px;">Login</a></div>
        <div class="card-body card bg-secondary text-white">
            <form role="form" action="action_page.php" method="POST">
                <div class="form-group">
                    <label for="sidempid">login id</label>
                    <input class="form-control" id="sidempid" name="sidempid" type="id" aria-describedby="emailHelp" placeholder="login id" required>
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input class="form-control" id="Password" type="password" name="Password" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox"> Remember Password
                        </label>
                    </div>
                </div>
                <button class="btn btn-primary btn-block" type="submit">Login</button>
            </form>
            <div class="text-center">
                <a class="d-block text-white small mt-3" href="register.html">Register an Account</a>
                <a class="d-block text-white small" href="forgot-password.html">Forgot Password?</a>
            </div>
        </div>
    </div>
</div>

<!-- Core plugin JavaScript-->
<script src="~/lib/jquery-easing/jquery.easing.min.js"></script>